html {
  font-family: sans-serif;
  color: darkslategrey;
  background-color: white;
}
header {
  height: 64px;
}
header .desktop-only {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 24px;
  width: 100%;
}
.header-mobile {
  display: none;
  height: 64px;
}
header .logo {
  display: inline-flex;

  height: 32px;
}
.image-container img {
  width: 100%;
}
header p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  line-height: 2em;
}
.options {
  display: flex;
  justify-content: space-around;
}
.options ul,
footer ul {
  display: flex;
  padding-right: 24px;
  list-style-type: none;
  margin-block: 0;
  align-items: center;
}
nav li {
  padding-left: 16px;
}
.gray {
  background-color: rgb(205, 220, 235);
  width: 100%;
}
.big {
  padding: 32px 24px;
  width: 60%;
  box-sizing: border-box;
}
.big img {
  width: 100%;
}
.ad {
  display: inline-flex;
}
.mission-statement {
  /*padding-top: 175px;
  padding-right: 100px;*/
  padding: 0 24px;
  width: 30%;
}
.mission-statement h1 {
  font-size: 4em;
  margin: 0;
}
.mission-statement p {
  font-size: 2.25em;
}
button {
  font-size: 1.75em;
  background-color: slategrey;
  color: white;
  width: 100%;
}
.testimonial h1 {
  font-size: 3.75em;
  margin-bottom: 24px;
  margin-block-start: 0;
}
.testimonial p {
  margin-bottom: 24px;
  font-size: 1.5em;
}
.testimonial h3 {
  font-weight: 200;
}
.testimonial {
  display: inline-flex;
}
.under-image {
  margin-top: 32px;
  padding-right: 10px;
}
.panels-container {
  width: 35%;
  padding: 32px 16px;
}
.panel:first-child {
  padding-top: 0;
}
.panel {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
}
.panel-image {
  flex-basis: 35%;
}
.panel-image img {
  width: 100%;
  margin: auto;
}
.panel-content {
  flex-basis: 65%;
}

.centered-vertical {
  display: flex;
  align-items: center;
}

.panel-content h2.panel-title {
  margin-top: 0;
}
.panel-content h2,
.panel-content p,
.panel-content a {
  margin: 8px;
}
.panel-content h2 {
  font-size: 2em;
}
.panel-content a {
  font-size: 1.25em;
  text-decoration: none;
  color: rgb(199, 153, 241);
}
.learn h1,
.thesis h1 {
  padding-top: 32px;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2.5em;
}
.classes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: auto;
  padding: 32px;
  box-sizing: border-box;
}
.class {
  width: 28%;
  background-color: white;
  margin: 16px;
}

.class-content {
  margin: 16px 16px 24px 16px;
}
video {
  width: 100%;
}
.thesis-content {
  display: flex;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 1px solid rgb(205, 220, 235);
}
footer h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
@media only screen and (max-width: 900px) {
  header .desktop-only,
  .desktop-only {
    position: absolute;
    z-index: -200;
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .options {
    padding: 16px 0;
  }
  .ad {
    display: block;
  }

  .mission-statement,
  .big {
    width: 100%;
    box-sizing: border-box;
  }
  .mission-statement h1 {
    margin: 0;
  }
  .mission-statement p {
    margin: 32px 0 0;
  }
  button {
    display: block;
    margin: 24px auto 32px auto;
  }
  .blurb {
    display: none;
    position: absolute;
    z-index: -200;
  }
  .panels-container {
    width: 100%;
  }
  .classes-container {
    display: block;
    width: 100%;
  }
  .class .image-container,
  .class p {
    display: none;
  }
  .class {
    width: 100%;
    margin: 0;
  }
  .class-title {
    padding: 16px 0 24px 16px;
    font-size: 2em;
    font-weight: 400;
  }
  footer nav {
    display: none;
  }
}
